body {
    padding: 10;
    margin: 10;
    background-image: url('../img/WhatsApp\ Image\ 2023-02-27\ at\ 14.11.05.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

p{
    padding-top: 80px;
    margin: 10px;
    text-align: center;
    margin-left: 90px; 
    margin-right: 90px;
    font-size: 50px;
    font-family: UI-SANS-SERIF;
}

span{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
    font-size: 60px;
    font-family: UI-SANS-SERIF;
}

form{
    margin-left: auto;
    margin-right: auto;
}

#black{
    background-color: black;
    color: black;
}

#white{
    background-color: white;
    color: white;
}

.imgFull{
    border-radius: 5px;
    width: 80px;
    height: 43px;
}

#btn{
    margin-left: 5px;
}

