body {
    padding: 10;
    margin: 10;
    background-image: url('/imagemLogoPrincipal.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

p{
    padding-top: 80px;
    margin: 10px;
    text-align: center;
    margin-left: 90px; 
    margin-right: 90px;
    font-size: 50px;
    font-family: UI-SANS-SERIF;
}

span{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
    font-size: 60px;
    font-family: UI-SANS-SERIF;
}

form{
    margin-left: auto;
    margin-right: auto;
}

